@font-face {
  font-family: PatuaOne-Regular;
  src: url(../assets/fonts/Patua_One/PatuaOne-Regular.ttf);
}

@font-face {
  font-family: Monsterrat-Bold;
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
/*# sourceMappingURL=fonts.css.map */