@mixin h3 {
  font-size: 2rem;
  font-weight: 700;
}

@mixin a-style {
  text-decoration: none;
  color: $text-color;
  padding: 2rem 3rem;
}

@mixin li-style {
  list-style: none;
}

@mixin d-flex {
  display: flex;
  justify-content: center;
}

@mixin star {
  @include d-flex;
  margin: 2rem;
  color: inherit;
  font-size: 13rem;
  font-family: 'Times New Roman', Times, serif;
  height: 4.5rem;
  line-height: 10rem;
  &::before , &::after {
    display: inline-block;
    content: "";
    background-color: $text-color;
    border-radius: 1.5rem;
    height: 0.5rem;
    width: 11rem;
    margin: 0 4rem;
    transform: translateY(3rem);
  }
}

@mixin header-container {
  font-family: Monsterrat-Bold;
  text-align:center;
  max-width: 98rem;
  padding: 10rem 0 5rem;
  margin:auto;
}

@mixin paragraph {
  font-size: 2rem;
  font-family: cursive;
  color: white;
}

@mixin send-button {
  background-color: $dominant-green;
    border-radius: 1rem;
    text-decoration: none;
    font-family: monospace;
    font-size: 2.5rem;
    &:hover {
      color : white;
    }
}
@mixin input {
  font-size: 2.5rem;
  border: none;
  border-bottom: 1px solid #8080804a;
  width: 80%;
  display: flex;
  margin: auto;
  padding: 2rem 0;
  &:focus{
    outline: none;
  } 
}
@mixin icon {
  font-size: 2.5rem;
  border: 0.2rem solid white;
  border-radius: 6rem;
  height: 5rem;
  width: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 2rem;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    color: black;
    background-color: white;
  }
}