@import 'variables', 'mixins', 'fonts';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}



body {
  overflow: overlay;
  nav {
    position: absolute!important;
    top: 0;
    width: 100vw;
    background-color: $dominant-dark;
    color: white!important;
    transition: all 1s ease-in-out;
    .nav-main {
      text-align: center;
      font-family: PatuaOne-Regular;
      >a {
        font-size: 3rem;
      }
      .collapse{
        justify-content: flex-end;
        font-size: 2rem;
        transition: all 0.5s ease-in-out 0s;
        .navbar-nav{
          >a{
            padding: 0.5rem 1.5rem!important;

          }
          .nav-active{
            border: 0.2rem solid lightgray;
            background: $dominant-green;
            border-radius: 0.5rem;
            color: white;
          }
        }
      }
    }
  }
  .nav-fixed{
    position: fixed!important;
    width: 100vw;
    z-index: 1000;
    padding: 20px 0;
    transition: all 1s ease-in-out;
  }
  .header {
    width: 100vw;
    background-color: $dominant-green;
    font-family: Monsterrat-Bold;
    font-size: 3rem;
    @include d-flex;
    padding: 13rem 0 10rem;
    .header-main {
      .header-img {
        @include d-flex;
        img {
          width: 25rem;
          margin-bottom: 5rem;
        }
      }
      .header-text {
        text-align: center;
        color: $text-color;
        h1 {
          font-size: $header-1;
        }
        h4 {
          padding-top: 1rem;
        }
      }
    }
  }
  #portfolio {
    width: 100vw;
    overflow: hidden;
    font-size: 3rem;
    padding-bottom: 5rem;
    @include d-flex;
    .text-items {
      .portfolio-header {
        @include header-container;
        color: $dominant-dark;
        h2 {
          font-size: $header-2; 
        }
        .star{
          &::before, &::after {
            background-color: $dominant-dark;
          }
        }
      }
      .portfolio-row {
        display: flex;
        width: 80vw; 
        margin: 0!important;
        .portfolio-item {
          @include d-flex; 
          position: relative;
          .img-hover { 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dominant-green;
            opacity: 0;
            border-radius: 1rem;
            transition: all 0.2s ease-in-out;
            &::before, &::after{
              position: absolute;
              content: "";
              top: calc(50% - 35px);
              left: 50%;
              height: 70px;
              width: 1.5rem;
              background-color: white;
              border-radius: 0.5rem;
            }
            &::after {
              transform: rotate(90deg);
            }
            &:hover {
              opacity: 0.9;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
            }
          }          
          img {
            max-width: 100%;
            height: auto;
            border-radius: 1rem;

            &:hover ~ .img-hover{
              opacity: 0.9;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
  #about {
    background-color: $dominant-green;
    .about-container {
      max-width: 80vw;
      margin: auto;
      .about-header {
        @include header-container;
        color: white;
        h2 {
          font-size: $header-2;
        }
      }
      .about-myself {
        padding-bottom: 10rem;
        text-align: center;
        width: 80%;
        margin: auto;
        p {
          @include paragraph;
        }
      }
    }
  }
  #contact {
    background-color: white;
    .contact-container {
      max-width: 80vw;
      margin: auto;
      .contact-header {
        @include header-container;
        color: $dominant-dark;
        h2 {
          font-size: $header-2;
        }
        .star{
          &::before, &::after {
            background-color: $dominant-dark;
          }
        }
      }
      .contact-form {
        padding-bottom: 10rem;
        max-width: 80%;
        margin: auto;
        #message {
          resize: none;
          max-width: -webkit-fill-available;
          margin-bottom: 4rem;
        }
        .contact-input {
          @include input;
        }
        a {
          @include send-button;
          margin-left: 10%;
        }
      }
    }
  }
  #footer {
    background-color: #2c3e50;
    .footer-container {
      width: 80%;
      margin: auto;
      color: white;
      display: flex;
      padding: 5rem 0;
      p{
        font-size: 1.5rem;
        font-family: revert;
        font-weight: 500;
      }
      .location {
        text-align: center;
        width: 33%;
        h3 {
          @include h3;
        }
      }
      .web{
        text-align: center;
        width: 33%;
        h3 {
          @include h3;
          margin-bottom: 2.2rem;
        }
        .social-icons {
          display: flex;
          justify-content: center;
          max-width: 80vw;
          margin: auto;
          .fa {

            @include icon;
            
          }
        }
      }
      .about-page {
        text-align: center;
        width: 33%;
        h3 {
          @include h3;
        }
        
      }
    }
  }
}



.star {
  @include star;
}

a {
  @include a-style;
}

li {
  @include li-style;
}

/* width */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $dominant-dark; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dominant-dark; 
}

@media only screen and (max-width: 600px) {
  html{
    font-size: 6px;
  }
}
@media only screen and (max-width: 768px) {
  html{
    font-size: 8px;
  }
}
@media only screen and (max-width: 992px) {
  html{
    font-size: 8px;
  }
}

