@font-face {
  font-family: PatuaOne-Regular;
  src: url(../assets/fonts/Patua_One/PatuaOne-Regular.ttf);
}

@font-face {
  font-family: Monsterrat-Bold;
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

body nav {
  position: absolute !important;
  top: 0;
  width: 100vw;
  background-color: #2c3e50;
  color: white !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body nav .nav-main {
  text-align: center;
  font-family: PatuaOne-Regular;
}

body nav .nav-main > a {
  font-size: 3rem;
}

body nav .nav-main .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

body nav .nav-main .collapse .navbar-nav > a {
  padding: 0.5rem 1.5rem !important;
}

body nav .nav-main .collapse .navbar-nav .nav-active {
  border: 0.2rem solid lightgray;
  background: #1abc9c;
  border-radius: 0.5rem;
  color: white;
}

body .nav-fixed {
  position: fixed !important;
  width: 100vw;
  z-index: 1000;
  padding: 20px 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .header {
  width: 100vw;
  background-color: #1abc9c;
  font-family: Monsterrat-Bold;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13rem 0 10rem;
}

body .header .header-main .header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .header-main .header-img img {
  width: 25rem;
  margin-bottom: 5rem;
}

body .header .header-main .header-text {
  text-align: center;
  color: #ffff;
}

body .header .header-main .header-text h1 {
  font-size: 5.5rem;
}

body .header .header-main .header-text h4 {
  padding-top: 1rem;
}

body #portfolio {
  width: 100vw;
  overflow: hidden;
  font-size: 3rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #portfolio .text-items .portfolio-header {
  font-family: Monsterrat-Bold;
  text-align: center;
  max-width: 98rem;
  padding: 10rem 0 5rem;
  margin: auto;
  color: #2c3e50;
}

body #portfolio .text-items .portfolio-header h2 {
  font-size: 4.5rem;
}

body #portfolio .text-items .portfolio-header .star::before, body #portfolio .text-items .portfolio-header .star::after {
  background-color: #2c3e50;
}

body #portfolio .text-items .portfolio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: 0 !important;
}

body #portfolio .text-items .portfolio-row .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body #portfolio .text-items .portfolio-row .portfolio-item .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  opacity: 0;
  border-radius: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #portfolio .text-items .portfolio-row .portfolio-item .img-hover::before, body #portfolio .text-items .portfolio-row .portfolio-item .img-hover::after {
  position: absolute;
  content: "";
  top: calc(50% - 35px);
  left: 50%;
  height: 70px;
  width: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

body #portfolio .text-items .portfolio-row .portfolio-item .img-hover::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body #portfolio .text-items .portfolio-row .portfolio-item .img-hover:hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #portfolio .text-items .portfolio-row .portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

body #portfolio .text-items .portfolio-row .portfolio-item img:hover ~ .img-hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #about {
  background-color: #1abc9c;
}

body #about .about-container {
  max-width: 80vw;
  margin: auto;
}

body #about .about-container .about-header {
  font-family: Monsterrat-Bold;
  text-align: center;
  max-width: 98rem;
  padding: 10rem 0 5rem;
  margin: auto;
  color: white;
}

body #about .about-container .about-header h2 {
  font-size: 4.5rem;
}

body #about .about-container .about-myself {
  padding-bottom: 10rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

body #about .about-container .about-myself p {
  font-size: 2rem;
  font-family: cursive;
  color: white;
}

body #contact {
  background-color: white;
}

body #contact .contact-container {
  max-width: 80vw;
  margin: auto;
}

body #contact .contact-container .contact-header {
  font-family: Monsterrat-Bold;
  text-align: center;
  max-width: 98rem;
  padding: 10rem 0 5rem;
  margin: auto;
  color: #2c3e50;
}

body #contact .contact-container .contact-header h2 {
  font-size: 4.5rem;
}

body #contact .contact-container .contact-header .star::before, body #contact .contact-container .contact-header .star::after {
  background-color: #2c3e50;
}

body #contact .contact-container .contact-form {
  padding-bottom: 10rem;
  max-width: 80%;
  margin: auto;
}

body #contact .contact-container .contact-form #message {
  resize: none;
  max-width: -webkit-fill-available;
  margin-bottom: 4rem;
}

body #contact .contact-container .contact-form .contact-input {
  font-size: 2.5rem;
  border: none;
  border-bottom: 1px solid #8080804a;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 2rem 0;
}

body #contact .contact-container .contact-form .contact-input:focus {
  outline: none;
}

body #contact .contact-container .contact-form a {
  background-color: #1abc9c;
  border-radius: 1rem;
  text-decoration: none;
  font-family: monospace;
  font-size: 2.5rem;
  margin-left: 10%;
}

body #contact .contact-container .contact-form a:hover {
  color: white;
}

body #footer {
  background-color: #2c3e50;
}

body #footer .footer-container {
  width: 80%;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
}

body #footer .footer-container p {
  font-size: 1.5rem;
  font-family: revert;
  font-weight: 500;
}

body #footer .footer-container .location {
  text-align: center;
  width: 33%;
}

body #footer .footer-container .location h3 {
  font-size: 2rem;
  font-weight: 700;
}

body #footer .footer-container .web {
  text-align: center;
  width: 33%;
}

body #footer .footer-container .web h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

body #footer .footer-container .web .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80vw;
  margin: auto;
}

body #footer .footer-container .web .social-icons .fa {
  font-size: 2.5rem;
  border: 0.2rem solid white;
  border-radius: 6rem;
  height: 5rem;
  width: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 2rem;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body #footer .footer-container .web .social-icons .fa:hover {
  color: black;
  background-color: white;
}

body #footer .footer-container .about-page {
  text-align: center;
  width: 33%;
}

body #footer .footer-container .about-page h3 {
  font-size: 2rem;
  font-weight: 700;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  color: inherit;
  font-size: 13rem;
  font-family: 'Times New Roman', Times, serif;
  height: 4.5rem;
  line-height: 10rem;
}

.star::before, .star::after {
  display: inline-block;
  content: "";
  background-color: #ffff;
  border-radius: 1.5rem;
  height: 0.5rem;
  width: 11rem;
  margin: 0 4rem;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

a {
  text-decoration: none;
  color: #ffff;
  padding: 2rem 3rem;
}

li {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3e50;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */